
.face-header-text {   
    display: flex;
    justify-content: center;
}

.header-text {
  width: 400px;
  display: flex;
  justify-content: left;
}

.face-title-body {
  margin-top: -15px;
  font-size: 15px;
  color: #fff;
}

.btn-back-logout {
  margin-left: -15px;
  background-color: #007654;
  border: none;
}

.btn-back-logout :hover {
  background-color: #007654;
  border: none;
  cursor: pointer;
}


.video-container{
    display: flex;
    justify-content: center;
    overflow: hidden; 
    width: '100%';
    position:relative;
}

.video-display{
    border-radius: 10px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); 
    -moz-transform:rotateY(180deg); 
}
  
.mark-canvas{
  position: absolute;
  transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); 
    -moz-transform:rotateY(180deg); 
}

.face-title{
    color: #fff;
}