.video-container{
    display: flex;
    justify-content: center;
    overflow: hidden; 
    width: '100%';
    position:relative;
}

.video-display{
    border-radius: 10px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); 
    -moz-transform:rotateY(180deg); 
}
  
.mark-canvas{
  position: absolute;
  transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); 
    -moz-transform:rotateY(180deg); 
}