.App {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-logout{
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #007654;
  background-color: #007654;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: all .3s ease;
}

.btn-logout:hover{
  padding: 10px 30px;
  border: 1px solid #007654;
  background-color: #fff;
  color: #007654;
}




